<!-- Wrapper-->
<div id="wrapper">

	<!-- Navigation -->
	<div ng-include="'app/components/common/navigation.html'"></div>

	<!-- Page wraper -->
	<!-- ng-class with current state name give you the ability to extended customization your view -->
	<div id="page-wrapper" class="gray-bg {{$state.current.name}}">

		<!-- Page wrapper -->
		<div ng-include="'app/components/common/topnavbar.html'"></div>

		<!-- Main view  -->
		<div ui-view></div>

		<!-- Footer -->
		<div ng-include="'app/components/common/footer.html'"></div>

	</div>
	<!-- End page wrapper-->

</div>
<!-- End wrapper-->
