<div class="footer">
	<div class="pull-right">
		10GB of <strong>250GB</strong> Free.
	</div>
	<div>
		<strong>Copyright</strong> Viktor Soltis <a href="https://www.linkedin.com/in/vsoltis/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> &copy; 2016-2017
	</div>
</div>
