<style>
	.btn-circle-micro {
		width: 19px;
		height: 19px;
		text-align: center;
		padding: 1px 0;
		font-size: 13px;
		line-height: 0.1;
		border-radius: 30px;
	}
</style>

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>Currency</h2>
		<ol class="breadcrumb">
			<li>
				<a href="index.html">Home</a>
			</li>
			<li>
				<strong>Currencies</strong>
			</li>
		</ol>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Add Currency</h5>

					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							<form name="newCurrency" class="form-horizontal">
								<div class="form-group">
									<label class="col-lg-2 control-label">Currency Name</label>
									<div class="col-lg-10">
										<select class="form-control m-b" name="account" ng-model="selectedCategory"
												ng-options="key as value for (key , value) in currencies"
												ng-change="">
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-offset-2 col-lg-10">
										<button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button"
												ng-click="addCurrency()"><strong>Add</strong></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Currency List</h5>

					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<div class="table-responsive">
						<div ui-grid="gridOptions" class="grid"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

</div>
