<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>User Profile
						<small>> {{ user.firstName + " " + user.lastName}}</small>
					</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">First Name</label>
							<div class="col-sm-10">
								<input id="firstName" type="text" class="form-control" ng-model="user.firstName">
								<label> <input icheck type="checkbox" ng-model="user.checkBox"> Remember me </label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Last Name</label>
							<div class="col-sm-10">
								<input id="lastName" type="text" class="form-control" ng-model="user.lastName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input id="email" type="text" class="form-control" ng-model="user.email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Password</label>
							<div class="col-sm-10">
								<input id="password" type="text" class="form-control" ng-model="user.password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Password Repeat</label>
							<div class="col-sm-10">
								<input id="passwordRepeat" type="text" class="form-control"
									   ng-model="user.passwordRepeat">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<div class="col-sm-12 text-right">
								<button class="btn btn-white" type="submit">Cancel</button>
								<button class="btn btn-primary" type="submit">Save changes</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
