<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="text-center m-t-lg">
				<h1>
					{{main.helloText}}
				</h1>
				<small>
					{{main.descriptionText}}
					<i class="glyphicon glyphicon-pencil"></i>
				</small>
			</div>
		</div>
	</div>
</div>
