<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="text-center m-t-lg">
				<h1>
					Simple example of second view
				</h1>
				<small>Configure in app.js as index.minor state.</small>
			</div>
		</div>
	</div>
</div>
